.top nav {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
    text-transform: uppercase;
    -webkit-box-shadow: -5px 5px 20px #000;
    -moz-box-shadow: -5px 5px 20px #000;
    box-shadow: -5px 5px 20px #000;
}